# Archivos generados por Node.js
node_modules/
npm-debug.log
yarn-error.log
# Archivos generados por Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.venv/
*.log

# Archivos generados por IDEs
.vscode/
# Archivos temporales
.DS_Store
Thumbs.db
